<div class="main-container">
    <h5 class="title">Password Generator</h5>
    <div class="main__header">
        <h3>Password</h3>
        <img src="assets/images/icon-copy.svg" alt="icon-copy" id="copy">
    </div>

    <div class="sub-main">
        <div class="length-container">
            <p class="length-container__name">Character length</p>
            <p id="char-length">10</p>
        </div>
        <div class="slider">
            <input type="range" name="" id="slider" min="1" max="20">
        </div>
        <div class="checkboxes">
            <div class="option">
                <input type="checkbox" name="upercase" id="">
                <label for="uppercase">Include Uppercase Letters</label>
            </div>

            <div class="option">
                <input type="checkbox" name="lowercase" id="">
                <label for="lowercase">Include Lowercase Letters</label>
            </div>

            <div class="option">
                <input type="checkbox" name="number" id="">
                <label for="number">Include Numbers</label>
            </div>

            <div class="option">
                <input type="checkbox" name="symbols" id="">
                <label for="symbols">Include Symbols</label>
            </div>
        </div>
        <div class="password-strength">
            <p>Strength</p>
            <p>Medium bars</p>
        </div>
        <div>
            <button class="generate-btn" type="button">GENERATE
                <img src="assets/images/icon-arrow-right.svg" alt="Arrow right Icon" id="right-icon">
            </button>
        </div>
    </div>

</div>
