<div class="main-container">
    <h5 class="title">Password Generator</h5>
    <div class="main__header">
        <h3>Password</h3>
        <img src="assets/images/icon-copy.svg" alt="icon-copy" id="copy">
    </div>

    <div class="sub-main">
        <div class="length-container">
            <p class="length-container__name">Character length</p>
            <p id="char-length">10</p>
        </div>
        <div class="slider">
            <input type="range" name="" id="" min="1" max="20">
        </div>
        <div class="checkboxes"></div>
        <div class="password-strength"></div>
        <div class="generate-btn"></div>
    </div>

</div>
